.cardModel {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    animation: fade 1s ;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.model_btn{
    display: flex;
    justify-content: space-between;
}

.readMore , .Query{
    padding: 2rem;
    border-radius: 10%;
    background: var(--btnColor);
    color: #fff;
}

.modalbody{
    width: 50rem;
    height: auto;
    background-color: #fff;
    color: #000;
    box-shadow: inset 0 -3em 3em rgba(16, 9, 9, 0.1), 0 0 0 2px rgb(208, 198, 198),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    display: flex;
    padding: 2rem !important;
    flex-direction: column;
    border-radius: 10px;
}
.modalbody:hover{
    transform: scale(.9,.9);
   
}
.modelBodyImg{
    display: flex;
    align-self: center;
    justify-self: center;
width: 30rem;
height: 30rem;
}
.modelDetails{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}